/*...............basic...............*/
*{
    margin: 0%;
    font-family: Arial;
    border: border-box;
}
/*...............NaveBar................*/
.navbar{
    height: 60px;
    background-color:#3282F6;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
} 
a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("BUILDING\ .png");
    height: 50px;
    width: 100px;
    background-size: cover;
}
.border{
    border:2px solid transparent;
}
.border:hover{
    border: 1px solid white;
}
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(179, 6, 237);
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.nav-search:hover{
    border: 2px solid rgb(250, 14, 191);
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-ip{
    width:100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width:45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: black;
}
span{
    font-size: 0.5rem;
}
/*.nav-Notice a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}*/
/*...............Navbar ends..............*/
/*...............image slider start here...............*/
#slider{
    overflow: hidden;
}
#slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}
#slider figure img {
    float: left;
    width: 20%;
    height: 50%;
    border-radius: 2%;
}
@keyframes slider {
    0% {
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100% {
        left: -400%;
    }
}
/*...............image slider ends here...............*/